{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": ["react-hooks", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["_components", "./src/components"],
          ["_utils", "./src/utils.js"]
        ]
      }
    }
  }
}
