.vscode
frontend/node_modules
frontend/dist
frontend/chatStubServer/node_modules

backend/.gradle
backend/bin
backend/build
backend/.project
backend/.settings
backend/.classpath
backend/out
backend/.idea
